<div class="dropdown-divider"></div>
<div class="row">
  <div class="col-1">
      <% if book.cover_s != ''%>
        <%=link_to image_tag(book.cover_s, class: "img-fluid rounded", alt:"Cover Small Image") , book %>
      <% else %>
        <%= image_tag "no_image.png", width: 60, alt: "No Image", class: "img-fluid rounded" %>
      <% end %>
  </div>
  <div class="col-4">
      <p class="text-info">
        <%= link_to book.title, book%>
      </p>
  </div>
  <div class="col-2">
    <%= form_with url: cart_path(book), method: :put do%>
      <%= text_field_tag("quantity", quantity, :id => book.id.to_s + '_q', :class => "form-control text-right", onchange: "this.form.submit();" ) %>
    <% end %>
  </div>
  <div class="col-1">
  <% if book.sales > 0.0099%>
    <p class="text-info">-<%= number_to_percentage(book.sales.floor(2) * 100, precision:0) %></p>
  <% end%>
  </div>
  <div class="col-2">
    <% if book.sales > 0.0099%>
      <p class="text-info"><%= number_to_currency book.price * quantity * (1 - book.sales.floor(2)) %></p>
    <% else %>
      <p class="text-info"><%= number_to_currency book.price * quantity %></p>
    <% end %>

  </div>
  <div class="col-2">
    <%= form_with url: cart_path(book), method: :delete do%>
      <%= hidden_field_tag("in_cart_detail", book.id, :id => book.id  ) %>
      <%= button_tag 'Remove', class:"btn btn-outline badge badge-info"%>
    <% end %>
  </div>
</div>