<h2 class="h2 text-success">Shipping Infomation</h2>
<div class="dropdown-divider"></div>
<div class="card-header">
    <%= form_with url: checkout_update_path, method: :put do%>
      <%= hidden_field_tag 'selected', 'edit'  %>
      <%= button_tag 'Edit', class:"btn btn-success"%>
    <%end%>
    <hr class="my-4">
    <p><span class="font-weight-bold">Email:</span> <%= session[:email] %></p>
    <p><span class="font-weight-bold">Name:</span> <%= session[:name] %></p>
    <p><span class="font-weight-bold">Province:</span> <%= province_checkout.name %></p>
    <p><span class="font-weight-bold">Street address:</span> <%= session[:street_address] %></p>
    <p><span class="font-weight-bold">Postal code:</span> <%= session[:postalcode] %></p>
    <hr class="my-4">
    <%= form_with url: checkout_create_path, method: :post do%>
      <%= button_tag 'Pay now', class:"btn btn-primary font-weight-bold"%>
    <%end%>
</div>




































<script type="text/javascript">

  function emailSubmit()
  {
     $("#selected").val("email");
  }

  function provinceSubmit()
  {
     $("#selected").val("province");
  }
</script>