<div class="container pb-5">
  <div class="row">
    <div class="col-7">
      <% if session[:stage] == 1%>
          <%= render partial: 'form' %>
      <% elsif session[:stage] == 2 %>
          <%= render partial: 'shipping_info' %>
      <% end %>
    </div>

    <div class="col-5">
      <%= render partial: 'summary' %>

      <h2 class="h2 text-success">Cart <span class="h5 text-success">(<%= "#{pluralize items_quantity, 'item'}" %>) </span></h2>
      <% cart.map do |item| %>
            <%= render partial: 'item',  locals: { book: item[:book], quantity: item[:quantity] }  %>
      <% end %>
    </div>
  </div>
</div>