
<div class="container pb-5">
<h6 class="h6 text-primary">
  <button type="button" class="btn bg-primary">
      <span class="text-white" aria-hidden="true"><%= link_to "Back", books_path, class: "text-white" %></span>
  </button>
</h6>
<h2 class="h2 text-success"><%= @book.title %></h2>
  <div class="row">
    <div class="col-3">
      <% if @book.cover_l != ''%>
        <img src="<%= @book.cover_l  %>" class="img-fluid rounded" alt="Cover Large Image">
      <% else %>
        <%= image_tag "no_image.png",  alt: "No Image", class: "img-fluid rounded" %>
      <% end %>
    </div>
  <div class="col-9">
      <h5 class="h5 text-dark">ISBN</h5>
      <p class="text-info"><%= @book.isbn%></p>

      <h5 class="h5 text-dark">Publisher</h5>
      <p class="text-info"><%= @book.publisher%></p>

      <h5 class="h5 text-dark">Publish Date</h5>
      <p class="text-info"><%= @book.publish_date%></p>

      <h5 class="h5 text-dark">Number of Pages</h5>
      <p class="text-info"><%= @book.number_of_pages%></p>

      <h5 class="h5 text-dark">Category</h5>
      <p class="text-info"><%= @book.category.name %></p>

      <h5 class="h5 text-dark">Authors</h5>
      <p class="text-info">
          <% @book.authors.each_with_index do |author, i| %>
              <% if i == 0 %>
                  <%= author.name %>
              <% else %>
                  , <%= author.name %>
              <% end %>
          <% end %>
      </p>

      <h5 class="h5 text-dark">Customers</h5>
      <p class="text-info">
           <% @book.customers.each_with_index do |customer, i| %>
              <% if i == 0 %>
                  <%= customer.name %>
              <% else %>
                  , <%= customer.name %>
              <% end %>
          <% end %>
      </p>

      <h5 class="h5 text-dark">Description</h5>
       <% if @book.description %>
        <p class="text-info"><%= @book.description%></p>
      <% else %>
        <p class="text-info">No Description for this book. Please click "READ BOOK" button for details</p>
      <% end %>


      <a href="<%= @book.book_url%>" target="_blank" class="btn btn-primary">Read Book</a>
    </div>
  </div>
</div>



