
    <% if current_page?(@book) %>
       <%= render partial: "common/breadcrumb", locals: {page_1: "Home", page_2:  @book.category.name,  page_3: @book.title, url_path_1: root_path, url_path_2: @book.category , css_class: "active", level: 3}%>
    <%end%>

<div class="container pb-5">
  <h2 class="h2 text-success"><%= @book.title %></h2>
  <div class="row">
    <div class="col-3">
      <% if @book.cover_l != ''%>
        <img src="<%= @book.cover_l  %>" class="img-fluid rounded" alt="Cover Large Image">
      <% else %>
        <%= image_tag "no_image.png",  alt: "No Image", class: "img-fluid rounded" %>
      <% end %>
    </div>
    <div class="col-9">
      <h6 class="h6 text-dark">ISBN</h6>
      <p class="text-info"><%= @book.isbn%></p>

      <h6 class="h6 text-dark">Publisher</h6>
      <p class="text-info"><%= @book.publisher%></p>

      <h6 class="h6 text-dark">Publish Date</h6>
      <p class="text-info"><%= @book.publish_date%></p>

      <h6 class="h6 text-dark">Number of Pages</h6>
      <p class="text-info"><%= @book.number_of_pages%></p>

      <h6 class="h6 text-dark">Category</h6>
      <p class="text-info"><%= @book.category.name %></p>

      <h6 class="h6 text-dark">Authors</h6>
      <p class="text-info">
          <% @book.authors.each_with_index do |author, i| %>
              <% if i == 0 %>
                  <%= author.name %>
              <% else %>
                  , <%= author.name %>
              <% end %>
          <% end %>
      </p>
      <h6 class="h6 text-dark">Description</h6>
       <% if @book.description.present? %>
        <p class="text-info"><%= @book.description%></p>
      <% else %>
        <p class="text-info">No Description for this book. Please click "READ BOOK" link for details</p>
      <% end %>
      <a href="<%= @book.book_url%>" target="_blank" class="badge badge-info">Read Book</a>
      <br>
      <div class="dropdown-divider"></div>
      <h6 class="h6 text-dark">Price</h6>
      <p class="text-info"> <%= number_to_currency @book.price %></p>

      <% if @book.sales > 0.0099%>
        <h6 class="h6 text-dark">On Sales:</h6>
        <p class="text-info"><%= number_to_percentage(@book.sales.floor(2) * 100, precision:0) %></p>
      <% end%>

      <div class="dropdown-divider"></div>
      <%# <%= form_with url: cart_index_path do%>
          <%# <%= hidden_field_tag(:id, @book.id) %>
          <%# <%= button_tag 'Add to Cart', class:"btn btn-primary mt-sm-2"%>
      <%# <% end %>

      <% if list_book_items.include?(@book) %>
        <%= button_to cart_path(@book), method: :delete,  class:"btn btn-primary mt-sm-2" do %>
            Remove from Cart
        <% end %>
      <% else %>
          <%= form_with url: cart_index_path, method: :post do%>
              <%= hidden_field_tag("id", @book.id, :id => @book.id  ) %>
              <%= button_tag 'Add to Cart', class:"btn btn-primary mt-sm-2"%>
          <% end %>
      <% end %>

    </div>
  </div>
</div>



