<nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-end">

  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%# <a class="nav-link active" href="#">Sign in <span class="sr-only">(current)</span></a> %>
      <% if current_customer %>
        <%= link_to "Sign Out", destroy_customer_session_path, method: :delete, class: "nav-link active" %>
        <%= link_to "Edit", edit_customer_registration_path, class: "nav-link" %>
        <a class="nav-link">
            <%= current_customer.email  %>,
            <span>Id: <%=current_customer.id%></span>,
            <span>Province: <%=current_customer.province.name%></span>
        </a>
      <% else %>
        <%= link_to "Sign In", new_customer_session_path, class: "nav-link active"%>
        <%= link_to "Sign Up", new_customer_registration_path, class: "nav-link" %>
      <% end %>
    </div>
  </div>
</nav>





<nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded mb-3">
  <div class="navbar-nav">
      <%= link_to 'Home', root_path, class:"nav-link text-uppercase #{ current_page?(root_path) ? 'active font-weight-bold' :
                                                                       current_page?(books_path) ? 'active font-weight-bold' :
                                                                       params[:category] == "0" ? 'active font-weight-bold' : ''
                                                                    }" %>
      <%= link_to 'About', about_path, class:"nav-link text-uppercase  #{current_page?(about_path) ? 'active font-weight-bold' : '' }" %>
      <%= link_to 'Contact us', contact_path, class:"nav-link text-uppercase #{current_page?(contact_path) ? 'active font-weight-bold' : '' }" %>
      <%= link_to 'Admin Page', admin_root_path, target: "_blank", class:"nav-link text-uppercase" %>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
  <%= form_with(url: search_books_path, method: "get", local: true, class: "form-inline") do %>
        <%= text_field_tag(:keywords, nil, class: "form-control mr-sm-2", placeholder: "Search Books" ) %>
        <div class="input-group">
            <select class="custom-select" id="categorySelect" name="category">
              <option value="0">All</option>
              <%= options_from_collection_for_select(Category.all, :id, :name) %>
            </select>
            <div class="input-group-append">
              <label class="input-group-text" for="categorySelect">Categories</label>
            </div>
        </div>
        <%= submit_tag("Search",class:"btn btn-success my-2 ml-2 my-sm-0") %>
  <% end %>
</nav>

      <% if current_page?(root_path) %>
        <%= render partial: "common/breadcrumb", locals: {page_1: "Home", page_2: "", page_3: "", url_path_1: root_path, url_path_2: "", css_class: "active", level: 1}%>
      <% elsif current_page?(about_path) %>
        <%= render partial: "common/breadcrumb", locals: {page_1: "About", page_2: "", page_3: "", url_path_1: about_path, url_path_2: "", css_class: "active", level: 1}%>
      <% elsif current_page?(contact_path) %>
        <%= render partial: "common/breadcrumb", locals: {page_1: "Contact", page_2: "", page_3: "", url_path_1: contact_path, url_path_2: "", css_class: "active", level: 1}%>
      <% end %>




















