<nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded mb-3">
  <div class="navbar-nav">
      <%= link_to 'Home', root_path, class:"nav-link text-uppercase #{current_page?(root_path) ? 'active font-weight-bold' : '' }" %>
      <%= link_to 'About', about_path, class:"nav-link text-uppercase  #{current_page?(about_path) ? 'active font-weight-bold' : '' }" %>
      <%= link_to 'Contact us', contact_path, class:"nav-link text-uppercase #{current_page?(contact_path) ? 'active font-weight-bold' : '' }" %>
      <%= link_to 'Admin Page', admin_root_path, target: "_blank", class:"nav-link text-uppercase" %>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
  <%= form_with(url: search_books_path, method: "get", local: true, class: "form-inline") do %>
        <%= text_field_tag(:keywords, nil, class: "form-control mr-sm-2", placeholder: "Search Books" ) %>
        <div class="input-group">
            <select class="custom-select" id="categorySelect" name="category">
              <option value="0">All</option>
              <%= options_from_collection_for_select(Category.all, :id, :name) %>
            </select>
            <div class="input-group-append">
              <label class="input-group-text" for="categorySelect">Categories</label>
            </div>
        </div>
        <%= submit_tag("Search",class:"btn btn-success my-2 ml-2 my-sm-0") %>
  <% end %>
</nav>
